<div class="container fluid">
    <span><img src="{{vehicle.image}}" alt="Vehicle Image" class="rounded mx-auto d-block" width="490"
            height="280"></span>
    <div class="form-group">
        <label for="image">Image (URL):</label>
        <input type="text" class="form-control" id="image" [(ngModel)]="vehicle.image" name="image">
    </div>
    <div class="form-group">
        <label for="model">Model:</label>
        <input type="text" class="form-control" id="model" [(ngModel)]="vehicle.model" name="model">
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <input type="text" class="form-control" id="description" [(ngModel)]="vehicle.description" name="description">
    </div>
    <div class="form-group">
        <label for="type">Type:</label>
        <input type="text" class="form-control" id="type" [(ngModel)]="vehicle.type" name="type">
    </div>
    <div class="d-flex justify-content-center mt-3">
        <button type="button" class="btn btn-warning col-3 mx-1" (click)="removeVehicle()"><i
                class="bi bi-trash-fill"></i> DELETE</button>
        <button type="button" class="btn btn-success col-3 mx-1" (click)="goBack()"><i
                class="bi bi-check-circle-fill"></i> SUBMIT</button>
    </div>
</div>